.ch-grid{width: 221px; height: 221px;}

.ch-grid .ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch-item:hover{cursor: pointer;}

.ch-grid .ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	padding: 40px 0 0 0;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	width: 180px;
	margin: auto;
	height: 80px;
}

.ch-grid .ch-info .h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	padding: 40px 0 0 0;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	width: 221px;
	margin: auto;
	height: 80px;
}

.h3 .bottom{
	bottom:15px;
	line-height: 30px;
	width: 100%;
	margin: auto;x
}

.ch-grid .ch-info p {
	color: #fff;
	font-style: italic;
	margin: 0px 30px 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	width: 160px;
	text-align: center;
	padding-top: 5px;
}

.view-project {
	display: block;
	color: #fff;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing:1px;
	font-family: 'Open Sans', Arial, sans-serif;
	position:relative;
	margin:5px auto 0;
}

.view-project:hover {
	color: #514b4b;
	cursor: pointer;
}

.ch-grid .ch-item:hover {
	box-shadow: 
		inset 0 0 0 140px rgba(222,96,97, 0.9), /* Color Circle and Alpha*/
		inset 0 0 0 5px rgba(255,255,255,0), /* Color Border and Alpha*/
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-grid .ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}

.ch-info:hover .ch-info-back {display:block\0/;}

.ch-grid .ch-infoie9 {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
/*	opacity: 0;*/
}

.ch-grid .ch-infoie9 .h3 {
	width:180px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 20px;
	padding: 40px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align:center;
	display:none;
}

.ch-grid .ch-infoie9 p {
	width:150px;
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	text-align:center;
	display:none;
}

.ch-grid .ch-infoie9 p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing:1px;
	margin-top:30px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-grid .ch-infoie9:hover {
	background-image:url(../img/rollie9_works.png);
}

.ch-grid .ch-infoie9:hover .h3{
	display:block;
}

.ch-grid .ch-infoie9:hover p{
	display:block;
}


.ch-grid .ch-infoie9 p a:hover {
	color: #111;
}

.ch-grid .ch-itemie9{
	width: 100%;
	height: 221px;
	border-radius: 50%;
	position: relative;
	cursor: default;
}

.ch-grid .ch-img-1 {background-image: url(../img/pf/project_001.png);}
.ch-grid .ch-img-2 {background-image: url(../img/pf/project_002.png);}
.ch-grid .ch-img-3 {background-image: url(../img/pf/project_003.png);}
.ch-grid .ch-img-4 {background-image: url(../img/pf/project_004.png);}
.ch-grid .ch-img-5 {background-image: url(../img/pf/project_005.png);}
.ch-grid .ch-img-6 {background-image: url(../img/pf/project_006.png);}
.ch-grid .ch-img-7 {background-image: url(../img/pf/project_007.png);}
.ch-grid .ch-img-8 {background-image: url(../img/pf/project_008.png);}
.ch-grid .ch-img-9 {background-image: url(../img/pf/project_009.png);}
.ch-grid .ch-img-10 {background-image: url(../img/pf/project_010.png);}
.ch-grid .ch-img-11 {background-image: url(../img/pf/project_011.png);}
.ch-grid .ch-img-12 {background-image: url(../img/pf/project_012.png);}