@import "../bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "../bootstrap/mixins";

// Bootstrap Overrides and Custom Styles
// --------------------------------------------------

// RESET
// --------------------------------------------------

//http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  @include box-sizing(border-box);
}

.container-fluid {
    padding: 0px;
}

// Colors
// --------------------------------------------------
$darkGreen:     darken($green, 15%);
$lightGray:     #e3e3e3 !default;

// Img Alignment
// --------------------------------------------------

// Carry over class from WordPress, used on imgs in posts
.aligncenter,
.center {
  display: block;
  margin: 0 auto;
  float: none;
}

// Video Helper Styles
// --------------------------------------------------
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Component sizing
// --------------------------------------------------
$paddingNormal: 20px;

// Banner
// --------------------------------------------------

#banner {
  text-align: center;

  .brand {
    margin-left: 20px;
  }

  background-color: $darkSlateGray;

  .image {
   position: relative;
   width: 100%; /* for IE 6 */
  }

  #header1 {
     position: absolute;
     top: 30%;
     left: 5%;
     color: $white;
     font-size: 40px;
     line-height: 35px;
     text-align: right;

     @media (max-width: 767px) {
       display: none;
     }

     @media (min-width: 1200px) {
       left: 15%;
     }
  }

  .header2 {
    font-size: 25px;
  }
}


// Page Header
// --------------------------------------------------

.page-header {
  border: 0;
  margin: 0 0 0 20px;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 12.5px;

  @media (min-width: 1200px) {
    float: none;
    width: 100%;
  }

  img {
    background: #C8DBF1;
    display: inline;
    height: auto;
    left: -20px;
    max-width: inherit;
    position: relative;
    width: auto;

    @media (max-width: 979px) {
      margin-left: -64%;
    }

    // Hide page header image at this breakpoint
    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 1200px) {
      left: -2px;
    }
  }

  h1 small {
    @media (max-width: 480px) {
      display: block;
      line-height: 27px;
    }
  }
}


// Main
// --------------------------------------------------

#main {
  padding-top: $paddingNormal;
}

// Sidebar
// --------------------------------------------------

.sidebar-nav {
  padding-top: $paddingNormal;
}

// Page Footer
// --------------------------------------------------
.navbar {
  margin-bottom: 0px;
  border-top: 3px solid $blueDark;
}

.navbar-inner {
  border-bottom: 0px;

  .brand {
    display: none;

    @media (max-width: $navbarCollapseWidth) {
      display: block;
    }
  }
}

.selected {
  background-image: url("/images/Triangle.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 10px;
}


// Page Footer
// --------------------------------------------------

.page-footer {
  background-color: #6b737b;
  color: #fff;
  margin: 30px 0 0; // Pulls footer full width of browser window for small viewports
  padding: 10px 22px;
  border-bottom: 3px solid $green;

  @media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
  }

  p {
    margin-bottom: 0;
  }
}


// COMPONENTS
// --------------------------------------------------

// Headings
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 {
  font-size: 30px;
  color: $primary-color;
}

h2 {
  font-size: 25px;
  font-weight: normal;
  line-height: 42px;
  margin: .125em 0;
}

h2 b,
h2 strong {
  font-weight: bold;
}

body {
  background-color: #e9eae9;
}

* {
  border-radius: 0 !important;
}

// Pager
// --------------------------------------------------
.pager li > a,
.pager li > span {
  background-color: $green;
  color: $white;
  border: 1px solid $lightGray;
}

.pager li > a:hover {
  background-color: $darkGreen;
}

// Site Search
// --------------------------------------------------

#search-form-wrapper{
  input {
    font-size: 85%;
  }

  #q {
    height: auto;
    width: 75%;
  }
}

#searchsubmit {
  @include border-radius(15px);
  margin-left: -10%;
  width: 30%;
}

#search-results {
  background-color: $white;
  border: 1px solid $lightGray;
  padding: $paddingNormal;
  margin-top: 20px;
}

.search-result {
  border-bottom: 1px solid $lightGray;
  padding: 10px;
}

.search-meta {
  padding: 0px;
}


// PAGES
// --------------------------------------------------

// Blog
// --------------------------------------------------

// Creates visual horizontal divider below .entry
.entry {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1em;
  padding-bottom: 1em;
  background-color: $white;
  border: 1px solid $lightGray;
  padding: $paddingNormal;
}

.entry-title {
  margin: 0;
  padding-bottom: $paddingNormal;
}

.sharing, .pager {
  margin: 20px 0px 20px 0px;
}

.meta {
  color: #999;
  font-size: 85%;
}

.entry-meta {
  margin-top: 0;
}

.post {
  background-color: $white;
  border: 1px solid $lightGray;
  padding: $paddingNormal;
}

.post-container {
  margin-left: $paddingNormal;
  margin-right: $paddingNormal;

  @media (max-width: 767px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}


// Archives
// --------------------------------------------------

.archive-section {
  background-color: $white;
  border: 1px solid $lightGray;
  padding: $paddingNormal;
  margin-bottom: $paddingNormal;
}

.archive-title {
  margin: 0;
  padding-bottom: $paddingNormal;
}

.archive-meta {
  margin-top: 0;
}


// Divider
// --------------------------------------------------

.divider {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;

  svg {
    max-height: 300px;

    margin: 0 auto; /* poor attempt at centering */

    height: auto !important; /* overrides inline */
    width: auto !important; /* overrides inline */

    max-width: 300px;
    display: block;
  }
}

// Culture page
// --------------------------------------------------
.culture-text {
  h2 {
    text-align: center;
    color: #000;
  }

  p {
    text-align: center;
  }

  div img {
    display:block;
    margin:auto;
  }

  div {
    padding-bottom: $paddingNormal;
  }

  padding-top: $paddingNormal * 3;
  padding-bottom: $paddingNormal;
}

.culture-back-image {
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;

    @media (max-width: $navbarCollapseWidth) {
      font-size: 20px;
    }
  }

  background-size: cover;
  width:100%;
  height:500px;
}

.culture-lego-builder {
  background-image: url("/culture/culture1.jpg");
}

.culture-hackathon {
  background-image: url("/culture/culture2.jpg");
}

// Tech Talk page
// --------------------------------------------------
.tech-talk-featured {
   background-color: $white;
   padding: $paddingNormal;
   border: 1px solid $lightGray;
   margin-bottom: $paddingNormal;
}

.tech-talk {
  background-color: $white;
  padding: $paddingNormal;
  border: 1px solid $lightGray;
  margin-bottom: $paddingNormal;
}

// Open source
// --------------------------------------------------
.open-source-text {
  h2 {
    text-align: center;
    color: #000;
  }

  p {
    text-align: center;
  }

  div img {
    display:block;
    margin:auto;
    padding-top: $paddingNormal;
    padding-bottom: $paddingNormal;
  }

  padding-left: $paddingNormal;
  padding-right: $paddingNormal;
}