@import "../bootstrap/variables"; // Modify this for custom colors, font-sizes, etc
@import "../bootstrap/mixins";

// Bootstrap Overrides and Custom Styles
// --------------------------------------------------

// RESET
// --------------------------------------------------

//http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  @include box-sizing(border-box);
}



.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  @media (min-width: 1200px) {
    width: 1145px;
  }
}

// Img Alignment
// --------------------------------------------------

// Carry over class from WordPress, used on imgs in posts
.aligncenter,
.center {
  display: block;
  margin: 0 auto;
}

// LAYOUT
// --------------------------------------------------

// Navbar
// --------------------------------------------------

// Adds top spacing to <body> to account for space of fixed navbar
body.top-navbar {
  padding-top: 105px;

  // At this breakpoint, the navbar is not longer postion:fixed so the top spacing can be reset
  @media screen and (max-width: 980px) {
    padding-top: 0;
  }
}

.navbar {
  .btn {
    // Aligns nav toggle button with brand logo
    @media screen and (max-width: 980px) {
      margin-top: 27.5px;
    }
  }
}


// Banner
// --------------------------------------------------

#banner {

  .brand {
    margin: 0;
    padding: 30px 0 0;

    @media (max-width: 979px) {
      margin-left: 20px;
    }

    @media (max-width: 767px) {
      max-width: 65%;
    }
  }

  .nav > li > a {
    padding: 39px 15px 30px;
  }
}


// Page Header
// --------------------------------------------------

.page-header {
  border: 0;
  margin: 0 0 0 20px;
  overflow-x: hidden;
  overflow-y: visible;
  padding-bottom: 12.5px;

  @media (min-width: 1200px) {
    float: none;
    width: 100%;
  }

  img {
    background: #C8DBF1;
    display: inline;
    height: auto;
    left: -20px;
    max-width: inherit;
    position: relative;
    width: auto;

    @media (max-width: 979px) {
      margin-left: -64%;
    }

    // Hide page header image at this breakpoint
    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 1200px) {
      left: -2px;
    }
  }

  h1 small {
    @media (max-width: 480px) {
      display: block;
      line-height: 27px;
    }
  }
}


// Main
// --------------------------------------------------

#main {
  @media (min-width: 1200px) {
    margin-top: -60px;
  }
}


// Page Footer
// --------------------------------------------------

.page-footer {
  background-color: #222;
  color: #999;
  margin: 30px 0 0; // Pulls footer full width of browser window for small viewports
  padding: 10px 22px;

  @media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
  }

  p {
    margin-bottom: 0;
  }
}


// COMPONENTS
// --------------------------------------------------

// Headings
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 { color: $primary-color; }

h2 {
  font-size: 25px;
  font-weight: normal;
  line-height: 42px;
  margin: .125em 0;
}

h2 b,
h2 strong {
  font-weight: normal;
}

header h2 { font-size: 40px; }


// Cover Tile
// --------------------------------------------------

.cover-tile {
  position: relative;
  display: block;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.cover-tile:hover {
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.25);
}

.cover-tile:before{
  content: "";
  display: block;
  padding-top: 100%; 	/* initial ratio of 1:1*/
}

.cover-tile-overlay,
.cover-tile-backdrop {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cover-tile-overlay {
  z-index: 20;
  color: #fff;
  background: rgba(0,0,0,0.5);
}

.cover-tile-hgroup {
  padding: 0 2em;

  .sub-heading {
    font-size: 18px;
    margin-bottom: 6px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.1;

    @media (max-width: 1199px) {
      font-size: 24px;
    }

    @media (max-width: 979px) {
      font-size: 22px;
    }

    @media (max-width: 767px) and (min-width: 481px) {
      font-size: 28px;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }
}

// Cover Tile Ratios
// --------------------------------------------------

.ratio2_1:before{
  padding-top: 50%;
}
.ratio1_2:before{
  padding-top: 200%;
}
.ratio4_3:before{
  padding-top: 75%;
}
.ratio16_9:before{
  padding-top: 56.25%;
}

// Table Grid
// --------------------------------------------------

.table-grid {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-grid-full-height {
  height: 100%;
}

.table-grid-col {
  display: table-cell;
}

// Vertically center grid content
// Requires content within the column to be inline or inline-block.

.table-grid-col-align-middle {
  vertical-align: middle;
}

// Site Search
// --------------------------------------------------

#search-form-wrapper{
  input {
    font-size: 85%;
  }

  #q {
    height: auto;
    width: 75%;
  }
}

#searchsubmit {
  @include border-radius(15px);
  margin-left: -10%;
  width: 30%;
}


// PAGES
// --------------------------------------------------

// Blog
// --------------------------------------------------

// Creates visual horizontal divider below .entry
.entry {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.sharing, .meta, .pager {
  margin: 20px 0px 20px 0px;
}

.meta {
  color: #999;
  font-size: 85%;
}

.entry-meta {
  margin-top: 0;
}


// Tech Talks
// --------------------------------------------------

.tech-talks {
 .row-fluid {
   margin-bottom: 20px;

   @media (max-width: 767px) {
     margin-bottom: 0;
   }
 }
}

// Archive Listing
// --------------------------------------------------

.archive-listing {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding-bottom: 20px;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}


// Engineer Page
// --------------------------------------------------

.eng {
  h2 {
    color: $secondary-color;
  }
}

.eng-img {
  display: block;
  margin: 0;
}

.eng-bio {
  background: #7ac143;
  color: #fff;
  padding: 15px;

  h2 {
    color: #fff;
  }

  dt,
  dd {
    line-height: 18px;
  }

  dl,
  dd {
    margin: 0 0 10px 0;
  }
}


// About Page
// --------------------------------------------------

.about-links {
  margin: 10px 0;
}


.about-link {
  background-color: #7ac143;
  color: white;
  display: inline-block;
  font-size: 15px;
  line-height: 1.25em;
  overflow: hidden;
  padding-bottom: .75em;
}

.about-link h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.about-link:hover {
  color: white;
}

.about-author-photo {
  display: block;
  max-height: 200px;
  overflow: hidden;
}

.about-author-photo img {
  height: auto;
  min-width: 100px;
  width: 100%;
}

.about-info {
  min-height: 80px;
  padding: 0 10px;
}

@media (max-width: 767px) {
  .about-link.about-link-small {
    margin-bottom: 1em;
    padding-bottom: 0;
    width: 100%;
  }

  .about-author-photo {
    float: left;
    height: 100px;
    margin: 0 1em 0 0;
    width: 100px;
  }

  .about-author-photo img {
    min-height: 100px;
  }
}

@media (max-width: 979px) {
  .about-author-photo {
    max-height: 160px;
  }

  .about-info {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .authors {
    margin-top: 87px;
  }

  .about-author-photo {
    max-height: 240px;
  }
}
