---
layout: default
---

{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% capture engineer_name_url %}{{ page.who | downcase | replace:' ','-' }}{% endcapture %}

<article id="main" role="article" class="span8">
  <div class="eng-about">
  <h1>Meet: {{ page.who }}</h1>
    {{ content | expand_urls: root_url }}
  </div>
</article>

<aside class="sidebar-nav span4">
  <div class="eng-meta">
    <img class="profile" src="/engineers/{{engineer_name_url}}/{{engineer_name_url}}.jpg" alt="{{page.who}}"/>
    <div class="eng-bio">
      <h2>{{page.who}}</h2>
      <dl>
        <dt>Title</dt>
        <dd>{{page.title}}</dd>
        <dt>Team</dt>
        <dd>{{page.team}}</dd>
      </dl>
    </div>
  </div>
</aside>
