<header id="banner" class="navbar navbar-fixed-top" role="banner">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="{{ root_url }}/">
        <img src="{{ root_url }}/images/logo2.png" title="Cerner Engineering Health">
      </a>

      {% include custom/navigation.html %}
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span8 pull-left page-header">
      <img class="site-header__img" src="{{ root_url }}/images/skyline2.png" alt="">    
    </div>

    {% if site.simple_search %}
      <div class="span4 pull-right"> 
        <div id="search-form-wrapper">
          <form class="form-search" id="searchform" role="search" action="{{ site.simple_search }}" method="get" >
            <label class="hide" for="q">Search for:</label>
            <input name="sitesearch" type="hidden" value="{{ site.url | shorthand_url }}" />
            <input class="search-query" id="q" name="q" type="text" results="0" placeholder="Search">
            <input class="btn" id="searchsubmit" type="submit" value="Search" >
          </form>      
        </div>
      </div>
    {% endif %}
  </div>
</div>
