<header id="banner" role="banner" class="container-fluid">

  <div class="image">

    {% if page.url == '/culture/index.html' %}
      <img src="/images/INDIA.jpg" alt="Bangalore" />
    {% elsif page.url == '/tech_talks/index.html' %}
      <img src="/images/PHILLY.jpg" alt="Philadelphia" />
    {% elsif page.url == '/blog/archives/index.html' %}
      <img src="/images/HQ.jpg" alt="Cerner World Headquarters" />
    {% else %}
      <img src="/images/KC.jpg" alt="Kansas City" />
    {% endif %}

    <div id="header1">Engineering Health<br/><span class="header2">A <b>Cerner</b> Blog</span></div>

  </div>
  {% include custom/navigation.html %}
</header>
