<nav id="nav-main" class="nav-collapse" role="navigation">
  <ul id="menu-top-menu" class="nav pull-right">
    <li>
      <a href="{{ root_url }}/">Blog</a>
    </li>
    <li>
      <a href="{{ root_url }}/blog/archives">Archives</a>
    </li>
    <li>
      <a href="{{ root_url }}/tech-talks">Tech Talks</a>
    </li>
    <li class="menu-life-as-an-engineer">
      <a href="{{ root_url }}/about">Life as an Engineer</a>
    </li>
    <li class="menu-who-we-are">
      <a href="{{ root_url }}/engineers">Who We Are</a>
    </li>
  </ul>      
</nav>
