<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-inner">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if page.url == '/index.html' %}class="selected"{% endif %}>
            <a href="{{ root_url }}/">Blog</a>
          </li>
          <li {% if page.url == '/culture/index.html' %}class="selected"{% endif %}>
            <a href="{{ root_url }}/culture">Culture</a>
          </li>
          <li {% if page.url == '/tech_talks/index.html' %}class="selected"{% endif %}>
            <a href="{{ root_url }}/tech_talks">Tech Talks</a>
          </li>
          <li {% if page.url == '/open_source/index.html' %}class="selected"{% endif %}>
            <a href="{{ root_url }}/open_source">Open Source</a>
          </li>
          <li {% if page.url == '/blog/archives/index.html' %}class="selected"{% endif %}>
            <a href="{{ root_url }}/blog/archives">Archives</a>
          </li>
        </ul>
        <div id="search" class="pull-right">
          <form action="/search" method="get" class="navbar-search">
            <input type="text" id="search-query" name="q" class="search-query" placeholder="Search" autocomplete="off">
            <img src="/images/MagnifyingGlass.png" alt="Search" width="16px" height="16px" />
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>