{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article class="search-result">
        <div class="search-meta meta">
        {{#date}}<time datetime="{{pubdate}}" pubdate>{{displaydate}}</time>{{/date}} | {{author}}
        </div>
        <a href="{{url}}">{{title}}</a>
    </article>
  {{/entries}}
</script>
{% endraw %}
<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '/javascripts/index.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  });
</script>