.homepage-image {
    @include media-breakpoint-up(lg) {
        position: absolute;
        width: 400px;
        right: 100px;
        top: 0;
    }
}

.author .name a, .author .social a {
    color: $gray-900;
    text-decoration: none;
}

.content-page a {
    color: $cerner-blue;
}

blockquote {
    color: $gray-400;
    border-left: 6px solid $gray-400;
    padding-left: $spacer;
}

figure.highlight pre:not([class*=language-]) {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    background-color: $gray-100;
}

.latest h2 a, .navbar a, .card > a, a.badge {
    text-decoration: none;
}

figure.highlight {
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);

    @include media-breakpoint-up(md) {
        margin-left: 0;
        margin-right: 0;
    }
}

img[data-src] {
    opacity: 0;
    @include transition($transition-fade);

    &.loaded {
        opacity: 1;
    }
}

#navbar-main-menu {
    transition: top 0.2s ease;

    border-bottom: 2px solid $cerner-blue;

    .nav-item .nav-link {
        font-size: $navbar-brand-font-size;
    }
}

ul.share.nav {
    .nav-link {
        padding: $nav-link-padding-y 0.2rem;
        text-align: center;
    }
}

footer a:not(.icons) {
    color: $gray-200;
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}

// Search auto-complete
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: small; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: $cerner-blue; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

// Component sizing
// --------------------------------------------------
$paddingNormal: 20px;
// Colors
// --------------------------------------------------
$lightGray:     #e3e3e3 !default;


// Culture page
// --------------------------------------------------
.culture-text {
  h2 {
    text-align: center;
    color: #000;
  }

  p {
    text-align: center;
  }

  div img {
    display:block;
    margin:auto;
  }

  div {
    padding-bottom: $paddingNormal;
  }

  padding-top: $paddingNormal * 3;
  padding-bottom: $paddingNormal;
}

.culture-back-image {
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
  }

  background-size: cover;
  width:100%;
  height:500px;
}

.culture-1 {
  text-shadow: 2px 2px 4px #000;
  background-image: url("/culture/culture1.jpg");
}

.culture-2 {
  text-shadow: 2px 2px 4px #000;
  background-image: url("/culture/culture2.jpg");
}

.culture-image-small-container{
  height: 130px;
}

// Tech Talk page
// --------------------------------------------------
.tech-talk-featured {
   background-color: $white;
   padding: $paddingNormal;
   border: 1px solid $lightGray;
   margin-bottom: $paddingNormal;
}

.tech-talk {
  background-color: $white;
  padding: $paddingNormal;
  border: 1px solid $lightGray;
  margin-bottom: $paddingNormal;
}

// Open source
// --------------------------------------------------
.open-source-text {
  h2 {
    text-align: center;
    color: #000;
  }

  p {
    text-align: center;
  }

  padding-left: $paddingNormal;
  padding-right: $paddingNormal;
}

.open-source-text-projects {
  h2 {
    text-align: center;
    color: #000;
  }

  p {
    text-align: center;
  }

  div img {
    display:block;
    margin:auto;
    padding-top: $paddingNormal;
    padding-bottom: $paddingNormal;
  }

  padding-left: $paddingNormal;
  padding-right: $paddingNormal;
}

.heart-img {
  display: inline;
}