---
layout: default
---

<div id="main" class="span8" role="main">
  {% assign index = false %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article class="entry">
      {% include excerpt_post.html %}
    </article>
  {% endfor %}
  <ul class="pager">
    {% if paginator.next_page %}
    <li><a href="{{paginator.next_page}}">Load More</a></li>
    {% endif %}
  </ul>
</div>
<aside class="sidebar-nav span4" role="complementary">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
